h1, h3 {
   padding: 10px;
}

p {
   padding: 10px;
}

form {
   font-size: 15px;
   padding: 10px;
}

input[type=text] {
   padding: 1px;
   outline: auto;
}

span.quest {
   color: black;
   font-weight: bold;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
